* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: whitesmoke;

}

input {
  padding: 0.5rem;
  background-color: #222;
  border-color: white;
  border-radius: 5px;
  color: white
}

header {

  background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .logo {
    color: white;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
  }



  button {
    padding: 0.5rem 1 rem;
    background-color: #555;
    border: none;
    color: white;
    cursor: pointer;
  }
}

main {
  max-width: 900px;
  margin: 2rem auto;

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ul {
    margin-top: 2rem0;
    list-style: none;
    line-height: 1.75rem;

    li {
      padding: 1rem;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid #444;

    }
  }


}