/* CSS GLOBALE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  max-width: 1176px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
}

.col {
  width: calc(100% / 3);
  padding: 1rem;

}

img {
  max-width: 100%;
}

body {
  font-family: 'Roboto Variable', sans-serif;
  background-color: whitesmoke;
}

/*CSS SPECIFICO PER TAG*/
header {

  text-align: center;
  background-color: white;
  padding-bottom: 2rem;

  nav {
    margin-top: 2rem;

    a {
      text-decoration: none;
      color: black;
      padding: 1rem;

      &.active {
        background-color: paleturquoise;
      }
    }
  }
}

main {
  background-image: url('./assets/img/background.jpg');
  min-height: 100vh;
}

footer {
  padding: 2rem 0;
  background-color: white;
  background-image: url('./assets/img/mountains.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 400px;

  H3 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  ul {
    list-style: none;

    a {
      text-decoration: none;
      color: grey;
      line-height: 1.5rem;
    }


  }


}

/*PROVARE AD IMPORTARE COME MODULE:CSS*/
.card {
  background-color: white;

  h3 {
    text-align: center;
    padding: 1rem 0;
  }
}